@use '@/scss/mixin.scss' as *;

.wrapper {
  display: flex;
  width: 100%;
  gap: var(--space-xsmall);

  .input {
    width: 100%;
    border-radius: var(--radius-small);
    border: 1px solid var(--theme-gray300);
    background-color: var(--theme-gray50);
    font-weight: 500;

    &:focus {
      outline: none;
      border-color: var(--theme-blue400);
    }

    &::placeholder {
      color: var(--theme-gray500);
    }

    &:disabled {
      color: var(--theme-gray400);
      cursor: not-allowed;

      &::placeholder {
        color: var(--theme-gray400); // 원하는 색상
      }
    }

    &.small {
      @include input-size(small);
    }

    &.medium {
      @include input-size(medium);
    }

    &.large {
      @include input-size(large);
    }
  }

  .button {
    width: unset;
    flex-shrink: 0;
    padding-right: var(--space-medium);
    padding-left: var(--space-medium);
  }
}
