.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-large);
  background-color: var(--theme-white);
  gap: var(--space-medium);

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--space-small);
  }
}
