.button {
  width: 100%;
  border-radius: var(--radius);
  border: none;
  gap: var(--space-xsmall);
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--theme-blue400);
  border: 1px solid var(--theme-blue400);
}

.secondary {
  background-color: var(--theme-gray50);
  border: 1px solid var(--theme-gray300);
}

.small {
  padding: var(--space-xsmall);
}

.medium {
  padding: var(--space-small);
}

.large {
  padding: var(--space-medium);
}
