.button {
  width: 100%;
  border-radius: var(--radius-small);
  border: none;
  gap: var(--space-xsmall);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--component-height-small);
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
  height: auto !important;
}

.primary {
  background-color: var(--theme-blue400);
  border: 1px solid var(--theme-blue400);
  &:hover {
    background-color: var(--theme-blue400-hover);
  }
}

.secondary {
  background-color: var(--theme-gray50);
  border: 1px solid var(--theme-gray300);
  &:hover {
    background-color: var(--theme-gray200);
  }
  &:active {
    background-color: var(--theme-gray300);
  }

  &.selected {
    background-color: var(--theme-blue50);
    border: 2px solid var(--theme-blue400);
  }
}

.small {
  padding: var(--space-xsmall);
  height: var(--component-height-small);
}

.medium {
  padding: var(--space-small);
  height: var(--component-height-medium);
}

.large {
  padding: var(--space-medium);
  height: var(--component-height-large);
}
