@use '@/scss/mixin.scss' as *;

.text {
  display: inline-block;
}

.default {
  color: var(--theme-gray900);
}

.primary {
  color: var(--theme-blue400);
}

.secondary {
  color: var(--theme-gray600);
}

.white {
  color: var(--theme-white);
}

.headlineBold {
  @include textStyles('headlineBold');
}

.titleSemiBold {
  @include textStyles('titleSemiBold');
}

.bodyMedium {
  @include textStyles('bodyMedium');
}

.descriptionMedium {
  @include textStyles('descriptionMedium');
}
