.table {
  border-collapse: separate; /* collapse 대신 separate */
  border-spacing: 0; /* 셀 간 간격 제거 */
  border: 1px solid var(--theme-gray300); /* 테이블 외곽선 */
  border-radius: var(--radius-small);
  overflow: hidden;
  width: 100%;
}
.row {
  display: flex;
  width: 100%;
}
.label,
.value {
  padding: var(--space-small) var(--space-medium);
  border-bottom: 1px solid var(--theme-gray300);
  text-align: left;
  flex-wrap: wrap; // 줄바꿈 가능하게
  word-break: break-word; // 또는 break-all
  overflow-wrap: anywhere;
  width: 100%;
}

.label {
  background-color: var(--theme-gray50);
  border-right: 1px solid var(--theme-gray300); /* 수직 분리선 */
  width: 40%;

  .text {
    font-weight: 600;
  }
}

tr:last-child .label,
tr:last-child .value {
  border-bottom: none;
}
