@use '@/scss/mixin.scss' as *;

.container {
  display: flex;
  align-items: center;
  border: 1px solid var(--theme-gray300);
  padding: var(--space-xsmall);
  border-radius: var(--radius-small);
  transition: border-color 0.2s;
  gap: var(--space-xsmall);
  width: 100%;

  &.focused {
    border-color: var(--theme-blue400);
  }

  &.small {
    @include input-size(small);
  }

  &.medium {
    @include input-size(medium);
  }

  &.large {
    @include input-size(large);
  }

  .input {
    flex: 1;
    border: none;
    outline: none;
    @include textStyles('headlineBold');

    &::placeholder {
      font-size: var(--font-title);
      font-weight: var(--font-medium);
    }
  }

  .clear {
    cursor: pointer;
  }
}
