.border {
  width: 100%;
  border: none;
  border-top: 1px solid var(--theme-gray300);
}

.carousel_wrapper {
  background-color: var(--theme-gray100);
  padding: var(--space-large);
  margin: 0 var(--space-large-minus);

  .culture_card {
    background-color: var(--theme-white);
    justify-content: flex-start;
    align-items: start;
    background-color: var(--theme-black);
  }
}

.abroad_item_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--space-small);

  .text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: var(--space-xxsmall);

    .selected {
      color: var(--theme-blue400);
    }
    .title {
      font-weight: var(--font-semi-bold);
    }
  }
}

.bottomSheet_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-small);
}
