@use '@/scss/mixin.scss' as *;

.carouselContainer {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carouselWrapper {
  display: flex;
  overflow-x: auto;
  gap: var(--space-small);
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  @include hideScrollbar;
}

.carouselItem {
  flex-shrink: 0;
  scroll-snap-align: center;
}

.carouselEmptyBox {
  flex: 0 0 50%; // 컨테이너 폭의 절반만큼 공간을 줘서 중앙 정렬 유도
}

.icon {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);

  &.left {
    left: var(--space-xsmall);
  }
  &.right {
    right: var(--space-xsmall);
  }
}
