:root {
  --theme-blue50: #ebf3ff;
  --theme-blue50-hover: white;
  --theme-blue50-active: white;
  --theme-blue100: #cce1ff;
  --theme-blue100-hover: #e6f0ff;
  --theme-blue100-active: white;
  --theme-blue200: #99c3ff;
  --theme-blue200-hover: #b3d2ff;
  --theme-blue200-active: white;
  --theme-blue300: #66a5ff;
  --theme-blue300-hover: #80b4ff;
  --theme-blue300-active: white;
  --theme-blue400: #519cff;
  --theme-blue400-hover: #6babff;
  --theme-blue400-active: #eaf3ff;
  --theme-blue500: #3084f2;
  --theme-blue500-hover: #4892f4;
  --theme-blue500-active: #c0dafb;
  --theme-blue600: #2c72db;
  --theme-blue600-hover: #4281df;
  --theme-blue600-active: #afc9f1;
  --theme-blue700: #215bb8;
  --theme-blue700-hover: #2566ce;
  --theme-blue700-active: #88aeea;
  --theme-blue800: #214a8d;
  --theme-blue800-hover: #2655a2;
  --theme-blue800-active: #6b96dc;
  --theme-blue900: #203b65;
  --theme-blue900-hover: #264678;
  --theme-blue900-active: #5582c9;
  --theme-gray50: #f8fafb;
  --theme-gray50-hover: white;
  --theme-gray50-active: white;
  --theme-gray100: #f1f3f5;
  --theme-gray100-hover: white;
  --theme-gray100-active: white;
  --theme-gray200: #e9ecef;
  --theme-gray200-hover: #f8f9fa;
  --theme-gray200-active: white;
  --theme-gray300: #dee2e6;
  --theme-gray300-hover: #edeff1;
  --theme-gray300-active: white;
  --theme-gray400: #bcc4cc;
  --theme-gray400-hover: #cad1d7;
  --theme-gray400-active: white;
  --theme-gray500: #868e96;
  --theme-gray500-hover: #949ba2;
  --theme-gray500-active: #d8dbdd;
  --theme-gray600: #656d75;
  --theme-gray600-hover: #717a83;
  --theme-gray600-active: #b4babf;
  --theme-gray700: #495057;
  --theme-gray700-hover: #555d65;
  --theme-gray700-active: #949da5;
  --theme-gray800: #343a40;
  --theme-gray800-hover: #3f474e;
  --theme-gray800-active: #7a8793;
  --theme-gray900: #212529;
  --theme-gray900-hover: #2c3237;
  --theme-gray900-active: #65727e;
  --theme-primary: #519cff;
  --theme-primary-hover: #6babff;
  --theme-primary-active: #eaf3ff;
  --theme-white: #ffffff;
  --theme-white-hover: white;
  --theme-white-active: white;
  --theme-white-elevated: #ffffff;
  --theme-white-elevated-hover: white;
  --theme-white-elevated-active: white;
  --theme-black: #000000;
  --theme-black-hover: #0d0d0d;
  --theme-black-active: #4d4d4d;
  --theme-danger: #f55f54;
  --theme-danger-hover: #f6766c;
  --theme-danger-active: #fde6e5;
  --theme-warning: #ffbe5b;
  --theme-warning-hover: #ffc875;
  --theme-warning-active: #fffbf4;
  --theme-green: #19bc85;
  --theme-green-hover: #1cd395;
  --theme-green-active: #80eec9;
  --theme-background: #f8fafb;
  --theme-background-hover: white;
  --theme-background-active: white;
  --theme-border-color: rgba(0, 0, 0, 0.1);
  --theme-border-color-hover: rgba(13, 13, 13, 0.1);
  --theme-border-color-active: rgba(77, 77, 77, 0.1);
  --theme-text-light: #ffffff;
  --theme-text-dark: #212529;
  --theme-transparent-danger: rgba(245, 95, 84, 0.05);
  --theme-transparent-green: rgba(25, 188, 133, 0.1);

  --radius: 6px;
  --space-xsmall: 8px;
  --space-small: 12px;
  --space-medium: 16px;
  --space-large: 24px;

  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 400;
}
