@mixin textStyles($type) {
  @if $type == 'headlineBold' {
    font-size: var(--font-headline);
    font-weight: var(--font-bold);
  } @else if $type == 'titleSemiBold' {
    font-size: var(--font-title);
    font-weight: var(--font-semi-bold);
  } @else if $type == 'bodyMedium' {
    font-size: var(--font-body);
    font-weight: var(--font-medium);
  } @else if $type == 'descriptionMedium' {
    font-size: var(--font-description);
    font-weight: var(--font-medium);
  }
}

@mixin hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@mixin backgroundStyles {
  background-color: var(--theme-white);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@mixin thinBorder {
  width: 100%;
  border: none;
  border-top: 1px solid var(--theme-gray300);
}

@mixin input-size($size) {
  @if $size == small {
    padding: var(--space-xsmall) var(--space-small);
    height: var(--component-height-small);
    font-size: var(--font-body);

    &::placeholder {
      font-size: var(--font-body);
    }
  } @else if $size == medium {
    padding: var(--space-small) var(--space-small);
    height: var(--component-height-medium);
    font-size: var(--font-body);

    &::placeholder {
      font-size: var(--font-body);
    }
  } @else if $size == large {
    padding: var(--space-medium) var(--space-small);
    height: var(--component-height-large);
    font-size: var(--font-title);

    &::placeholder {
      font-size: var(--font-title);
    }
  }
}
